body{
    background: rgb(13, 92, 68);
    font:  normal 15pt Arial;
    text-align: center;

}

header{
    color: white;
    text-align: center;
}

section{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin:auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.664);
}

div{
    text-align: center; 
    padding: 08px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    font-size: small;
}
